<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <app-persona-item *ngFor="let persona of personas" [personaItem]="persona" ></app-persona-item>
 
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewPersona()" type="button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>